/* Fonts */
/* Colors */
/* Other Variables */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

/* Page 1 */
.page-1 {
  background-image: url("/images/vintage-car.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  padding: 1.2rem;
  position: relative;
}

.page-1__heading, .page-1__sub-heading {
  font-family: "Aldrich", sans-serif;
  text-shadow: 2px 2px #222;
  text-transform: uppercase;
}

.page-1__heading {
  margin: 0;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .page-1__heading-container {
    max-width: 90%;
  }
}

.page-1__sub-heading {
  color: #fff;
}

.page-1__desc {
  font-family: "Zilla Slab", serif;
  font-size: 1.2rem;
  color: #fff;
  width: 80%;
}

@media screen and (min-width: 1024px) {
  .page-1__desc {
    width: 100%;
  }
}

@media screen and (min-width: 2560px) {
  .page-1__desc {
    font-size: 1.8rem;
  }
}

.page-1__desc-container {
  position: absolute;
  text-shadow: 2px 2px #222;
  bottom: 0;
  left: 0;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .page-1__desc-container {
    position: initial;
    padding-left: 0;
    padding-right: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 0px;
  }
}

.page-1__desc--yellow {
  color: #e0c161;
}

@media screen and (min-width: 1024px) {
  .page-1__text-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

@media screen and (min-width: 2560px) {
  .page-1__text-container {
    font-size: 1.8rem;
  }
}

.page-1__heading--era-yellow {
  color: #e0c161;
}

/* Page 2 */
.page-2 {
  background-color: #e0c161;
  padding: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .page-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
  }
}

@media screen and (min-width: 1920px) {
  .page-2 {
    grid-column-gap: 0px;
  }
}

.page-2__retro {
  margin: 0;
  color: #fff;
  font-family: "Aldrich", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .page-2__retro {
    text-align: left;
  }
}

.page-2__title {
  font-family: "Zilla Slab", serif;
  color: #fff;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.page-2__info {
  color: #222;
  font-family: "Zilla Slab", serif;
  line-height: 1.4;
  font-weight: bold;
}

@media screen and (min-width: 1920px) {
  .page-2__retro, .page-2__title, .page-2__info {
    width: 70%;
  }
}

.page-2__year {
  color: #ec5b48;
  font-family: "Abril Fatface", cursive;
  font-size: 12rem;
  line-height: 1;
  text-align: center;
  margin: 0;
  text-shadow: 2px 2px #222;
}

@media screen and (min-width: 1440px) {
  .page-2__year {
    font-size: 16rem;
  }
}

@media screen and (min-width: 1920px) {
  .page-2__year {
    font-size: 18rem;
  }
}

@media screen and (min-width: 2560px) {
  .page-2__year {
    font-size: 22rem;
  }
}

.page-2__desc {
  color: #222;
  font-family: "Ibarra Real Nova", serif;
  line-height: 1.5;
}

@media screen and (min-width: 1920px) {
  .page-2__desc {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 2560px) {
  .page-2__desc {
    font-size: 1.4rem;
  }
}

.page-2__first-letter {
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-weight: bold;
  text-shadow: 2px 2px #222;
}

@media screen and (min-width: 1920px) {
  .page-2__col-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 2560px) {
  .page-2__col-1 {
    font-size: 1.4rem;
  }
}

small {
  font-family: "Aldrich", sans-serif;
  color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  small {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media screen and (min-width: 2560px) {
  small {
    font-size: 1.4rem;
  }
}

span {
  color: #ec5b48;
}
/*# sourceMappingURL=style.css.map */