$primaryFont: 'Anton', sans-serif;
$secondaryFont: 'Roboto', sans-serif;
$black: #222;
$white: #fff;
$green: #20A13C;

* {
    box-sizing: border-box;
}

.container {
    @media screen and (min-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

/* Page 1 Styling */

.page-1 {
    padding: 1.2rem;
    background-image: url('/images/pexels-snapwire-213780.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    object-position: 50% 50%;
    position: relative;
    @media screen and (min-width: 768px) {
            padding: 3.125rem;
    }
    &__title {
        margin: 0;
        text-align: center;
        color: $black;
        text-shadow: 5px 5px #eeeeee;
        font-family: $primaryFont;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 3rem;
        @media screen and (min-width: 768px) {
            font-size: 3.5rem;
        }
        @media screen and (min-width: 1440px) {
            font-size: 4.8rem;
        }

    }
    &__quote-container {
        font-family: $primaryFont;
        color: $black;
        margin-top: 2rem;
        background-color: $white;
        padding: 16px;
        display: none;
        @media screen and (min-width: 768px) {
            width: 40%;
            display: block;
        }
    }
    &__quote {
        line-height: 1.5;
        letter-spacing: 1px;
        margin: 0;
        @media screen and (min-width: 768px) {
            font-size: 1.2rem;
        }
    }
    &__desc {
        font-family: $secondaryFont;
        color: $black;
        position: absolute;
        bottom: 1.2rem;
        left: 0;
        padding: 1.2rem;
        line-height: 1.5;
        @media screen and (min-width: 425px) {
            width: 80%;
        }
        @media screen and (min-width: 768px) {
            padding: 3.125rem;
            width: 50%;
        }
    }
    &__pg-number {
        font-family: $primaryFont;
        color: $black;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1.2rem;
        @media screen and (min-width: 768px) {
            padding: 3.125rem;
        }
    }
    .fa-quote-left {
        margin-bottom: .4rem;
        font-size: 2.1rem;
    }
}

/* Page 2 Styling */

.page-2 {
    padding: 1.2rem;
    @media screen and (min-width: 768px) {
            padding: 3.125rem;
    }
    &__paragraphs-container {
        font-family: $secondaryFont;
        line-height: 1.5;
        margin-top: 2rem;
        margin-bottom: 2rem;
        @media screen and (min-width: 1440px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 50px;
            grid-row-gap: 0px;
        }
    }
    &__pg-number {
        font-family: $primaryFont;
        color: $black;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    &__image {
        width: 100%;
    }
    figure {
        margin-top: 2rem;
        margin-bottom: 2rem;
        @media screen and (min-width: 1440px) {
            margin: 0;
        }
    }
    figcaption {
        width: 80%;
        font-size: .8rem;
    }
    &__paragraph--margin-top {
        @media screen and (min-width: 1440px) {
            margin-top: 0;
        }
    }
}

